# CMake clutters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# Ninja Clutters
build.ninja
rules.ninja
.ninja_log
.ninja_deps

# Visual Studio Clutters
*.sln
*.vcxproj*
*.tlog
*.log
*.recipe
*.ilk
*.pdb
.vs
*.dir/

# Precompiled Headers
*.pch
*.gch

# Object files
*.o 
*.obj

# Libraries
*.a
*.so
*.lib

# Executables
*.exe 
*.app 
/bin/

# Visual Studio Code user configuration files
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json